[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILgiDHj6QMf44494Q1nFwgfCDETnFUvzawVXkO8zq4Mz
	name = Andrew Herr
	email = c-andrew.herr@vimeo.com
[url "git@ghec:vimeows/"]
	insteadOf = git@github.com:vimeows/
	insteadOf = ssh://git@github.com/vimeows/
	insteadOf = https://github.com/vimeows/
[url "git@ghec:c-andrew-herr_Vimeo/"]
	insteadOf = https://github.com/c-andrew-herr_Vimeo/
	insteadOf = git@github.com:c-andrew-herr_Vimeo/
	insteadOf = ssh://git@github.com/c-andrew-herr_Vimeo/
[diff]
	algorithm = histogram
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	updateRefs = true
	autoStash = true
[merge]
	conflictstyle = zdiff3
