# start with nothing
/*
sockets

# allowlist only
!/dotfiles
!/.config
!/.docker

# I want the docker config for reference, although it might screw me up when I forget it
/.docker/*
!/.docker/config.json

!/.gitignore
!/Brewfile

!/.zshrc

# allowlist inside .config as well
/.config/*
!/.config/emacs
!/.config/iterm2
!/.config/starship.toml
