# start with nothing
/*
sockets

# allowlist only
!/dotfiles
!/.config
!/.docker/config.json

!/.gitignore
!/Brewfile

!/.zshrc

# allowlist inside .config as well
/.config/*
!/.config/emacs
!/.config/iterm2
!/.config/starship.toml
