[submodule "home/.config/emacs"]
	path = home/.config/emacs
	url = git@github.com:adherr/hand-rolled-emacs.git
[submodule "PlexMono"]
	path = PlexMono
	url = git@github.com:liangjingkanji/PlexMono.git
