[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
[user]
	name = Andrew Herr
	email = andrew.herr@testdouble.com
	signingkey = ~/.ssh/git_signing_key.pub
[diff]
	algorithm = histogram
[column]
	ui = auto
[branch]
	sort = -committerdate
[fetch]
	prune = true
	pruneTags = true
	all = true
[help]
	autocorrect = prompt
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autoSquash = true
	updateRefs = true
	autoStash = true
[merge]
	conflictstyle = zdiff3
[color]
	ui = true
[remote]
	pushDefault = origin
# Client identities never go in this repo: put includeif blocks pointing at
# ~/.gitconfig.<client> in the untracked ~/.gitconfig.local.
[include]
	path = ~/.gitconfig.local
